.center {
	margin: auto;
	width: 100%;
	border: 3px solid red;
	background-color: #dd546e;
	padding: 10px;
	text-align: center;
}

#img-align {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.contact {
	width: 200px;
	height: auto;
	background-color: grey;
	float: right;
}

.body-align {
	margin: auto;
	width: 700px;
	height: max-content;
	background-color: lightgray;
}
.text-center {
	text-align: center;
}
