/**----------NORM START---------**/

* {
	font-family: Helvetica, "Lucida Console", Courier, monospace;
	letter-spacing: 0.5px;
	color: #efeff7;
	scroll-behavior: smooth;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	-webkit-transition: 0.1s cubic-bezier(1, 0.04, 0, 1), 0.125s linear;
	transition: 0.1s cubic-bezier(1, 0.04, 0, 1), 0.125s linear;
}

/**----------NORM END---------**/
/**----------GENERAL START---------**/

.height-fix {
	height: max-content;
	min-height: 100vh;
}

.margin-fix {
	margin-top: 86px;
	width: 100%;
	height: max-content;
}

@media screen and (max-width: 480px) {
	.margin-fix {
		margin-top: 35px;
	}
}

/**----------DISPLAY START---------**/

.display-wrapper {
	max-width: 980px;
	width: 100%;
	margin: 15px auto 15px auto;
}

.display {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	margin: 15px 0px 15px 0px;
}

.display-item:hover a > h3 {
	max-width: 170px;
}

.display-item {
	background-color: #191931;
	width: 150px;
	height: max-content;
	display: flex;
	margin: 15px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}

.display-img {
	width: 150px;
	height: 150px;
	margin: 0px auto 0px auto;
	display: block;
}

.display-item:hover {
	width: 180px;
	margin: 0px;
}

.display-item:hover > a img.display-img {
	width: 180px;
	height: 180px;
}

.display-item:hover > a.display-link {
	padding: 5px;
}

.display-link {
	width: max-content;
	max-width: 140px;
	background-color: #2f2f5c;
	text-align: center;
	padding: 5px;
	margin-top: 15px;
	text-decoration: none;
	font-weight: bolder;
}

@media screen and (max-width: 680px) {
	.display {
		height: 60vh;
		overflow-y: scroll;
	}

	.display-artists {
		height: 80vh;
	}

	.display-albums {
		height: 80vh;
	}
}

/**----------DISPLAY END---------**/
/**----------TABLE START---------**/

.general-table {
	max-width: 100%;
	min-width: 780px;
	box-sizing: border-box;
	border-collapse: collapse;
	margin: 15px auto 15px auto;
	background-color: #2f2f5c;
	overflow: hidden;
}

.table-border {
	border-bottom: 1px solid #efeff7;
}

.table-tr {
	background-color: #090912;
	padding: 3px 3px 3px 3px;
}

.table-row-header {
	background-color: #090912;
	padding: 3px 3px 3px 3px;
}

.table-tr:nth-child(even) {
	background-color: #2f2f5c;
}

.table-tr:nth-child(odd) {
	background-color: #191931;
}

.table-th {
	border-right: 1px solid #efeff7;
	background-color: #090912;
}

.table-pos,
.artist-year {
	text-align: center;
	width: 10px;
	max-width: 20px;
	padding: inherit;
}

.artist-year {
	width: 100px;
	max-width: 200px;
}

.table-title {
	border-left: 1px solid #efeff7;
	text-align: left;
	width: 400px;
	padding-left: 5px;
	padding: inherit;
}

.artist-type {
	text-align: center;
	width: 100px;
	border-left: 1px solid #efeff7;
	padding: inherit;
}

.table-play-time {
	text-align: center;
	width: 100px;
	padding: inherit;
	border-left: 1px solid #efeff7;
}

.table-footer-left {
	border-top: 1px solid #efeff7;
	border-left: 0px solid #efeff7;
	text-align: center;
	font-weight: bold;
	padding: 3px 3px 3px 3px;
}

.table-footer-right {
	border-top: 1px solid #efeff7;
	border-left: 1px solid #efeff7;
	text-align: center;
	font-weight: bold;
	padding: 3px 3px 3px 3px;
}

.table-th:last-child,
td:last-child {
	border-right: 0px solid #efeff7;
}

.table-tr:last-child {
	background-color: #090912;
}

@media screen and (max-width: 1080px) {
	.general-table {
		min-width: 680px;
		width: 100%;
	}

	.artist-year,
	.table-pos,
	.table-title,
	.artist-type,
	.table-play-time,
	.table-footer-left,
	.table-footer-right {
		font-size: calc(16px + 3 * ((100vw - 1080px) / (1080 - 300)));
	}
}

@media screen and (max-width: 780px) {
	.general-table {
		min-width: 0px;
	}
}

/**----------TABLE END---------**/
/**----------GENERAL END---------**/
/**----------NAV START---------**/

.main-nav {
	background-color: #191931;
	height: max-content;
	position: fixed;
	top: 2px;
	width: 100%;
	z-index: 8;
	line-height: 1;
	display: flex;
	flex-direction: column;
}

.style-line {
	background-color: #090912;
	width: 100%;
	height: 2px;
	z-index: 9;
	position: fixed;
}

.black-line {
	background-color: #58587c;
	width: 100%;
	height: 2px;
	z-index: 9;
	position: sticky;
}

.nav-head-wrapper {
	background-color: #2f2f5c;
	width: max-content;
	margin: 5px auto 5px auto;
	padding: 0px 5px 0px 5px;
}

.nav-head {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.site-name {
	text-decoration: none;
	margin: 0px;
	font-size: 40px;
	font-weight: bold;
}

.site-name:hover {
	color: #bfbfc5;
}

.item-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #2f2f5c;
}

.logo-img {
	width: 50px;
	height: 50px;
}

.nav-item {
	background-color: #191931;
	text-decoration: none;
	padding: 5px 15px;
	margin-right: 3px;
	align-self: center;
}

.nav-item:last-child {
	margin-right: 0px;
}

.item-wrapper:hover > a.nav-item {
	background-color: #2f2f5c;
	background-image: none;
}

.item-wrapper:hover > a.nav-item:hover,
.item-wrapper:hover > a.nav-item:active {
	background-color: #191931;
	font-size: 30px;
}

.responsive-img-item {
	display: none;
	width: 35px;
	height: 35px;
	margin-right: 3px;
	padding: 0px;
}

@media screen and (max-width: 1080px) {
	.nav-item {
		font-size: calc(16px + 3 * ((100vw - 1080px) / (1080 - 300)));
		padding-right: calc(15px + 5 * ((100vw - 1080px) / (1080 - 300)));
		padding-left: calc(15px + 5 * ((100vw - 1080px) / (1080 - 300)));
	}

	.item-wrapper:hover > a.nav-item:hover,
	.item-wrapper:hover > a.nav-item:active {
		font-size: calc(30px + 8 * ((100vw - 1080px) / (1080 - 300)));
	}

	.site-name {
		font-size: calc(40px + 15 * ((100vw - 1080px) / (1080 - 300)));
	}

	.logo-img {
		width: calc(50px + 25 * ((100vw - 1080px) / (1080 - 300)));
		height: calc(50px + 25 * ((100vw - 1080px) / (1080 - 300)));
	}
}

@media screen and (max-width: 480px) {
	.nav-head-wrapper {
		display: none;
	}

	.responsive-img-item {
		display: block;
		padding: 0px;
	}

	.home-item {
		display: none;
	}

	.nav-item {
		font-weight: bold;
	}
}

/**----------NAV END---------**/
/**----------BODY START---------**/

.body-background-wrapper {
	background-image: url("images/cross-crop-small.png");
	background-repeat: repeat;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
}

.overlay {
	background-color: #0c0c17;
}

.body-wrapper {
	display: flex;
	width: 100%;
	max-width: 1080px;
	margin: 0px auto 0px auto;
	background-color: #0c0c17;
}

/**----------BODY END---------**/
/**----------FOOTER START---------**/

.footer-wrapper {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.footer-wrapper-center {
	background: linear-gradient(#191931 70%, rgba(9, 9, 18, 0.5));
	width: 100%;
	max-width: 1080px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	z-index: 1;
}

.footer-div {
	flex-grow: 1;
	height: 100%;
	width: 150px;
	display: flex;
	border-right: 1px solid #fff;
	border-right-width: 1px;
	border-right-style: solid;
	border-image: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0)) 1 100%;
	border-top: 1px solid #fff;
	box-sizing: border-box;
	align-items: center;
	flex-direction: column;
}

.footer-div:last-child {
	border-right: 0px solid #000;
}

.footer-ul {
	list-style-type: none;
	padding: 0px;
	margin: 20px auto auto auto;
}

.footer-h3 {
	margin: 30px 0px 15px 0px;
	text-align: center;
	text-decoration: underline;
}

.footer-a {
	margin: 3px 0px 0px 0px;
	text-align: center;
	text-decoration: none;
}

.footer-a:hover {
	color: #bfbfc5;
}

@media screen and (max-width: 1080px) {
	.footer-a {
		font-size: calc(16px + 4 * ((100vw - 1080px) / (1080 - 300)));
	}

	.footer-h3 {
		font-size: calc(19px + 4 * ((100vw - 1080px) / (1080 - 300)));
	}
}

@media screen and (max-width: 780px) {
	.footer-wrapper {
		height: 200px;
	}
}

/**----------FOOTER END---------**/
/**----------ARTIST START---------**/

.artist-showcase {
	max-width: 1080px;
	width: 100%;
	border-bottom: 3px solid #efeff7;
	box-sizing: border-box;
	border-collapse: collapse;
	margin: 0px auto 0px auto;
	overflow: hidden;
}

.artist-left {
	padding: 15px;
	width: 300px;
}

.artist-right {
	width: auto;
	text-align: left;
	padding: 0px; /**padding fix - removes padding that emerges**/
	vertical-align: top;
	height: max-content;
}

.artist-img {
	width: 300px;
	height: 300px;
}

.artist-accessibility {
	background-color: #2f2f5c;
	width: max-content;
	max-width: calc(100vw - (100vw - 1080px) - 365px);
	padding: 5px;
	word-wrap: break-word;
}

.artist-header-font {
	background-color: #2f2f5c;
	width: max-content;
	max-width: calc(100vw - (100vw - 1080px) - 365px);
	padding: 5px;
	word-wrap: break-word;
	font-size: 32px;
	margin: 15px 0px 15px 0px;
}

.artist-releases-h3 {
	width: max-content;
	text-decoration: underline;
	margin: 15px 0px 0px 15px;
}

@media screen and (max-width: 1080px) {
	.artist-accessibility,
	.artist-header-font {
		max-width: calc(100vw - 390px);
	}

	.artist-header-font {
		font-size: calc(32px + 15 * ((100vw - 1080px) / (1080 - 300)));
	}

	.artist-accessibility {
		font-size: calc(16px + 3 * ((100vw - 1080px) / (1080 - 300)));
	}
}

@media screen and (max-width: 620px) {
	.artist-img {
		width: 150px;
		height: 150px;
	}

	.artist-left {
		width: 150px;
		padding: 5px;
	}

	.artist-header-font {
		margin: 5px 0px 5px 0px;
	}
	.artist-accessibility,
	.artist-header-font {
		max-width: calc(100vw - 200px);
	}
}

/**----------ARTIST END---------**/
/**----------PALETTE START---------**/

.palette-wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.palette-swatch {
	width: 200px;
	height: 400px;
	margin-left: 15px;
	background-color: #000;
}

.palette-text {
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
		-1px -1px 0 #000;
	font-size: 32px;
	text-align: center;
}

.color-1 {
	background-color: #efeff7;
	color: #efeff7;
}

.color-2 {
	background-color: #191931;
	color: #191931;
}

.color-3 {
	background-color: #58587c;
	color: #58587c;
}

.color-4 {
	background-color: #26264b;
	color: #26264b;
}

.color-5 {
	background-color: #2f2f5c;
	color: #2f2f5c;
}

.color-6 {
	background-color: #0c0c17;
	color: #0c0c17;
}

.color-7 {
	background-color: #090912;
	color: #090912;
}

.color-8 {
	background-color: #bfbfc5;
	color: #bfbfc5;
}

/**----------Palette END---------**/
/**----------HOME START---------**/

.home-graphic {
	overflow: hidden;
	width: 100%;
	height: calc(100vh - 86px);
	background-image: url("images/subspace-grphic.png");
	background-size: 100% 100%;
	margin-top: 86px;
}

.home-sign-up-wrapper {
	width: max-content;
	height: max-content;
	position: absolute;
	bottom: 27vh;
	right: 20%;
}

.home-h1 {
	width: max-content;
	height: max-content;
	font-size: 6vw;
	margin: 0px;
	background-color: #26264b;
	padding: 6%;
}

.home-link {
	width: max-content;
	height: max-content;
	font-size: 4vw;
	background-color: #2f2f5c;
	margin: 5px 5% 0px auto;
	padding: 6%;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

.home-link:hover {
	color: #bfbfc5;
}

.home-footer {
	background-color: #090912;
}

@media screen and (max-width: 1080px) {
	.home-graphic {
		margin-top: 35px;
		height: calc(100vh - 30px);
	}
}

@media screen and (max-width: 1080px) {
	.home-graphic {
		margin-top: 30px;
		height: calc(100vh - 30px);
	}
}

@media screen and (max-width: 480px) and (max-height: 980px) {
	.home-graphic {
		margin-top: 30px;
		height: calc(100vh - 233px);
	}

	.home-sign-up-wrapper {
		bottom: 45vh;
		right: 20%;
	}
}

/**----------HOME END---------**/
/**----------SIGN-UP START---------**/

.sign-up-wrapper {
	overflow: hidden;
	width: 100%;
	height: calc(100vh - 86px);
	margin-top: 86px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign-up-form {
	width: 500px;
	max-width: 100%;
	height: max-content;
	background-color: #26264b;
}

.sign-up-table {
	max-width: 100%;
	height: max-content;
	background-color: #26264b;
	margin: 15px auto;
	box-sizing: border-box;
	border-collapse: collapse;
}

.center {
	text-align: center;
}

.sign-up-submit {
	float: right;
	padding: 5px 8px 5px 8px;
}

.sign-up-input {
	background-color: #0c0c17;
	border: 0px solid #000;
	margin: 5px 0px 5px 0px;
	color: #bfbfc5;
}

.sign-up-radio-flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

.sign-up-radio-input {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	display: block;
	box-sizing: content-box;
	margin-top: 6px;
	margin-left: 2px;
	float: left;
	cursor: pointer;
}

.sign-up-radio-label {
	padding-left: auto;
	display: block;
	box-sizing: content-box;
	margin: 0px;
	margin-top: 3px;
	padding: 1px 0px 1px 17px;
	cursor: pointer;
	border-right: 1px solid #26264b;
}

.sign-up-radio-div {
	height: 20px;
	overflow: hidden;
	padding: 8px 0px;
}

.sign-up-radio-div:first-child {
	padding: 3px 0px;
}

.sign-up-input:active,
.sign-up-input:focus {
	color: #efeff7;
}

.sign-up-submit:hover {
	float: right;
	padding: 5px 8px 5px 8px;
	color: #efeff7;
}

.sign-up-link:hover {
	color: #bfbfc5;
}

.sign-up-h1 {
	border-bottom: 1px solid #efeff7;
	padding: 15px 0px 15px 0px;
	margin: 0px;
}

.sign-up-p {
	padding: 15px 0px 15px 0px;
	margin: 0px;
}

td label {
	cursor: text;
}

table.sign-up-table tr {
	border-top: 1px dashed #0c0c17;
}

@media screen and (max-height: 720px) and (max-width: 480px) {
	.sign-up-wrapper {
		height: max-content;
		margin-top: 44px;
	}
}

@media screen and (max-width: 1080px) {
	.sign-up-wrapper {
		font-size: calc(16px + 3 * ((100vw - 1080px) / (1080 - 300)));
	}

	.sign-up-h1 {
		font-size: calc(32px + 10 * ((100vw - 1080px) / (1080 - 300)));
		padding-top: calc(15px + 5 * ((100vw - 1080px) / (1080 - 300)));
		padding-bottom: calc(15px + 5 * ((100vw - 1080px) / (1080 - 300)));
	}
}

/**----------SIGN-UP END---------**/
/**----------ABOUT START---------**/

.about-wrapper {
	overflow: hidden;
	width: 100%;
	max-width: 980px;
	min-height: calc(100vh - 86px);
	height: max-content;
	margin: 86px auto 0px auto;
}

.about-mission-wrapper {
	border-bottom: 1px solid #efeff7;
	margin: 15px;
	width: calc(100% - 30px);
}

.about-boxing {
	padding: 15px;
	background-color: #26264b;
	width: max-content;
	max-width: calc(100% - 30px);
}

.about-div-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
}

.about-exurbs {
	width: 400px;
	border-bottom: 1px solid #efeff7;
	margin: 15px;
}

.about-goals-ul {
	padding: 15px 15px 15px 25px;
	background-color: #26264b;
	width: max-content;
	max-width: calc(100% - 30px);
}

/**----------ABOUT END---------**/
